<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395643216760-j45kbnrdf3nt2idmoljmlecqpngplrtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395643216760-j45kbnrdf3nt2idmoljmlecqpngplrtj</string>
	<key>API_KEY</key>
	<string>AIzaSyALA5OJP9n-VwMXDDPywxkz-QiPnplz_EY</string>
	<key>GCM_SENDER_ID</key>
	<string>395643216760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamsantoso.E-Commerce</string>
	<key>PROJECT_ID</key>
	<string>sehatq-ecommerce-test</string>
	<key>STORAGE_BUCKET</key>
	<string>sehatq-ecommerce-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395643216760:ios:f73814e8f1b8771d551e8d</string>
</dict>
</plist>